.app {
  display: grid;
  grid-template-areas: 
    "h h"
    "n i";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.app_content {
  grid-area: i;
  background-color: #212437;
}