.inner {
  display: grid;
  grid-template-areas: 
  "h"
  "w";
  grid-template-rows: 70px 1fr;
}
.appWrapper {
  display: grid;
  grid-template-areas: 
    "n i";
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 0 auto;
}

.app_content {
  grid-area: i;
  margin-top: 10px;
}